body {
    background-color: #0d1117;
    font-family: sans-serif;
    margin: 1em;
}

body, code.hljs {
    color: white;
    font-size: 13pt;
}

pre code.hljs {
    padding: 0em !important;
}

a, a:link, a:visited { 
    color: #0086b3;
    text-decoration: none;
}

a:hover, a:active {
    color: #008080;
}

.sep {
    font-weight: bold;
    color: #ffa657;
}
